*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(rgb(17, 14, 14), rgb(38, 38, 71));
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

