*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}


form{
    width: 820px;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    border: 3px solid rgba(95, 38, 38, 0.3);
    transition: 0.3s ease;
}


form:hover{
    transform: scale(1.05);
}


label{
    font-size: 26px;
    font-weight: 600;
    color: white;
    display: block;
    margin-bottom: 1px;
}

h1{
    font-size: 26px;
    font-weight: 600;
    color: rgb(18, 2, 2);
    display: block;
    margin-bottom: 15px;
}
h3{
    font-size: 26px;
    font-weight: 600;
    color: rgb(13, 7, 7);
    display: block;
    margin-bottom: 15px;
}

input{
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    border:2px solid rgb(127, 118, 118);
    outline: none;
    font-size: 18px;
    transition: 0.3s;
}


input:focus{
    box-shadow: 0 0 40px #884c4c;
    transform: scale(1.03);
}

div{
    width: 750px;
    height: 2px;
    background-color: white;
    margin-bottom: 15px;
}
button{
    margin-top: 40px;
    width: 220px;
    height: 55px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

button:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

button:active{
    transform: scale(0.95);
}